{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}
{% block pagename %}Home{% endblock pagename %}
{% block header %} 
<link rel="stylesheet" href='{% static "mainapp/styles/homepage.css" %}'>
{% endblock header %}


{% block body %}
<div class="dashboard-outer">
  <div class="dashboard-container{% if not request.user.is_authenticated %} blurred{% endif %}">
    <div class="heading-container">
      <div>
        {% if request.user.is_authenticated %}
        <h4 class="heading greet">Welcome
            <span style="text-decoration: underline;">{{request.user}}</span>,
            </h4>
        {% endif %}
        <h3 class="heading">Dashboard</h3>
        <div class="dashboard-subtext">Overview of your portfolio and recent activity.</div>
      </div>
    </div>
    <div class="overview-cards">
      <div class="dashboard-card">
        <div class="card-title">Total Virtual Funds</div>
        <div class="card-value">${{fund}}</div>
        <div class="card-change {{fv}}">
            {% if fv == "positive" %}
                +
            {% endif %}
            {{fc|round_:2}}%</div>
    </div>
    <div class="dashboard-card">
        <div class="card-title">Investment:</div>
        <div class="card-value">$ {{invested_funds|round_:2}}</div>
        <div class="card-change"><a href="{% url 'main:portfolio' %}">view investments</a></div>
    </div>
    <div class="dashboard-card">
        <div class="card-title">Active Strategies</div>
        <div class="card-value">{{active_strats}}</div>
        <div class="card-change {{sv}}">
            {% if sv == "positive" %}
                +
            {% endif %}
            {{strat_change|round_:2}}%</div>
    </div>
    </div>
    <div class="portfolio-container">
      <div class="heading-container">
        <div>
          <h4 class="heading">Perfomance</h4>
          <div class="dashboard-subtext">Portfolio Chart</div>
        </div>
      </div>
    </div>
  </div>
  {% if not request.user.is_authenticated %}
  <div class="dashboard-blur-overlay">
    <span>Log in to view dashboard</span>
  </div>
  {% endif %}
</div>
{% endblock body %}
