{% extends "layout.html" %}
{% load static %}
{% block header  %}
<link rel="stylesheet" href="{% static '/stocks/styles/analyze.css' %}">

<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock header     %}
{% block pagename %}Detailed Analysis{% endblock pagename %}

{% block body %}


<div class="page-container">

    <div class="heading">
        <h3>
        welcome <span style="text-decoration:underline;">{{request.user.username|lower}}</span>,
        </h3>
        <div class="heading-subtext">
            use the upto 95.8% accurate models and indicators to trade.
        </div>
    </div>

    <div class="chart">
<canvas id="data-chart" >
</canvas>
    </div>


</div>

<!-- chart logic -->

<script>
    const ctx = document.getElementById('data-chart')
    new Chart(ctx,{
        type: 'bar',
        data:{
            labels:['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets:[{
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1,
                borderColor: '#FF6384',
                backgroundColor: '#FFB1C1',
            }]   },
            options:{
                scales:{
                    y:{
                        beginAtZero:true
                    }
                }
            }
        });

</script>

{% endblock body %}