{% extends "layout.html" %}
{% load static %}
{% block pagename %}WalletTree{% endblock pagename %}
{% block header %}
<link rel="stylesheet" href="{% static 'stocks/styles/skelton_load.css' %}">
{% endblock header %}


{% block body %}
<div class="page-container">


    <div class="time-container">
        <div class="heading">
            please wait while data-scraping and model training takes place for {{ticker}} <br>
        </div>
        <div class="subheading">
            (as free version of api request limit data retrieval per minute,this takes time thank you for your patience) 
        </div>
        <div class="time">
            <span id="countdown">
        </div>
    </div>

    <div class="chart-container">
      <div class="button-holder">
        <form action="{% url 'stocks:analyze' ticker %}" method="POST">
          {% csrf_token %}
        <button type="submit" value="one-day" name="chart-view" {% if active_view|lower == "one-day" %}class="active"{%else%}class=""{% endif %}>1D</button>
        <button type="submit" value="one-week" name="chart-view"{% if active_view|lower == "one-week" %}class="active"{%else%}class=""{% endif %}>1W</button>
        <button type="submit" value="one-month" name="chart-view"{% if active_view|lower == "one-month" %}class="active"{%else%}class=""{% endif %}>1M</button>
        <button type="submit" value="one-year" name="chart-view" {% if active_view|lower == "one-year" %}class="active"{%else%}class=""{% endif %}>1Y</button>
        <button type="submit" value="max" name="chart-view" {% if active_view|lower == "max" %}class="active"{%else%}class=""{% endif %}>MAX</button>
        </form>
      </div>
    </div>
    <div class="skelton-container">
        <div class="card-container">
        </div>
    </div>

    

</div>
<script>
  // Get countdown time in seconds from Jinja

  
  // let totalSeconds = {{time}} ; 
  let totalSeconds = 3000;

  function formatTime(seconds) {
    const m = String(Math.floor(seconds / 60)).padStart(2, '0');
    const s = String(seconds % 60).padStart(2, '0');
    return `${m}:${s}`;
  }

  const countdownEl = document.getElementById('countdown');
  countdownEl.textContent = formatTime(totalSeconds);

  const interval = setInterval(() => {
    totalSeconds--;

    if (totalSeconds <= 0) {
      clearInterval(interval);
      location.reload();  // 🔁 Reload page
    } else {
      countdownEl.textContent = formatTime(totalSeconds);
    }
  }, 1000);
</script>

{% endblock body %}