.page-container{
    width: 1200px;
    margin: auto;
}
.page-container .heading h3{
    font-weight: 400;
    margin-top: 10vh;
    color: #f1fdef;

}
.heading-subtext{
    font-size: .8rem;
    font-weight: 400;
    color: #889783;
}

.chart{
    max-width: 720px;
    max-height: 400px;
}


@media (max-width: 1200px) {
    .page-container{
        width: 700px;
        margin: auto;
    }
}