:root{
    --cardheight : 150px;
    --cardwidth :150px;
}

.page-container{
    display:flex;
    flex-direction: column;
    /* border:2px solid red; */
    width: 1200px;
    margin: auto;

}

.time-container{
    display :flex;
    justify-content: center;
    align-items: center;
    margin-top:10svh;
    flex-direction: column;
    
}
.time-container .heading{
    font-size: 1.5rem;
}
.time-container .time{
    font-size: 3rem;;
}
.time-container .subheading{
    font-size: .8rem;
    font-weight: 400;
    color: #889783;
}

.skelton-container{
    display:flex;
    /* border:2px dashed white;; */
    min-width: 50svw;
    min-height:40svh;
    margin-top: 10svh;;
}
.card-container{
    display:flex;
    width: 100%;
    height: 100%;
    /* border: 2px dashed blueviolet;; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chart-container{
    display: flex;;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red; */
}
.button-holder{
    display:flex;
    flex-direction: row;
    gap: 23px;;
    margin: 8px 0px;
    width: 70%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #181c17;
    border-radius: 7px;
    /* box-shadow: #889783; */
    filter:drop-shadow(4px 4px 90px #889783);
   
}
.button-holder button{
    padding: 10px 20px;
    border: none;
    background-color: #181c17;
    color: white;
    transition: all .6s ;
}
.button-holder button:first-of-type{
    padding:10px 20px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #181c17;

    color: white;
    transition: all .5s;
}
.button-holder button:last-child{
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    background-color: #181c17;
    
    color: white;
    transition: all .6s ;
}
.button-holder button:hover,.button-holder button.active{
    background-color: rgba(255,255,255,.4);
}

.chart{
    width: 60%;
    
}
.card-